@use '../abstracts/colours';
@use '../abstracts/mixins';
@use '../abstracts/text-sizes';

@use '../base/typography';

@use '../components/controls';

// Based on:
//   https://alvaromontoro.com/blog/68017/creating-a-css-only-toggle-switch
input:where([type='checkbox'][role='switch']).toggle-switch {
    box-sizing: content-box;
    position: relative;

    appearance: none;

    width: 4em;
    height: 2em;

    margin-right: 0.5rem;

    cursor: pointer;

    background-color: colours.$secondary-colour;
    color: colours.$primary-text-colour;

    font-size: inherit;
    border-radius: 1em;

    vertical-align: text-bottom;

    &:hover {
        background-color: colours.$secondary-colour-lighter;
    }

    &:checked {
        background-color: colours.$primary-colour;

        &:hover {
            background-color: colours.$primary-colour-darker;
        }

        &::before {
            left: 2em;
        }
    }

    &::before {
        box-sizing: border-box;

        position: absolute;
        top: 50%;
        left: 0.15em;

        width: 1.5em;
        height: 1.5em;

        margin: 0 0.15em;

        transform: translate(0, -50%);

        background-color: colours.$white;

        border-radius: 50%;

        content: "";

        transition: left ease-in-out 0.2s;
    }

    &+ label {
        cursor: pointer;
    }
}

select {
    box-sizing: border-box;

    background-color: colours.$bg-colour;
    color: colours.$primary-text-colour;

    border: solid 2px colours.$primary-colour;
    border-radius: 5px;

    overflow: auto;

    @include mixins.scrollbar-styling;

    option {
        padding: 0.5rem;

        cursor: pointer;

        &:hover, &:checked {
            background-color: colours.$primary-colour-darker;
            color: colours.$primary-text-colour;

            // Seems like grey (at least in Edge) is the default background
            // colour for options inside a select input that is focus-visible.
            box-shadow: 0 0 1px 100px colours.$primary-colour-darker inset;
        }
    }

    &:focus-visible {
        border-color: colours.$primary-colour-darker;
        outline: none;
    }
}

button {
    background-color: colours.$primary-colour;
    color: colours.$primary-text-colour;
    border: none;
    border-radius: 5px;

    font-family: 'Fivo Sans', Arial, Helvetica, sans-serif;
    font-size: text-sizes.$button-text-size;

    cursor: pointer;

    &:hover {
        background-color: colours.$primary-colour-darker;
    }
}