<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SDK Competitive Matrix</title>
    <link rel="stylesheet" href="/assets/app.css">
    <script type="module" src="/assets/app.js"></script>
    <script src="https://kit.fontawesome.com/d69cc82c51.js" crossorigin="anonymous"></script>
</head>
<body>
    <main id="container">
        <h1>SDK Competitive Matrix</h1>
        <article id="dashboard">
            <div id="matrix">
                <div id="matrix-display">
                    <div id="compmatrix-container">
                        <!-- The div constraints the size of the table. -->
                        <table id="compmatrix"></table>
                    </div>
                </div>
                <div id="matrix-config">
                    <h1>Configure Matrix</h1>
                    <div>
                        <div id="compmatrix-toggles">
                            <input id="compmatrix-data-toggle" class="toggle-switch" type="checkbox" role="switch" />
                            <label for="compmatrix-data-toggle">Normalize Values</label>
                        </div>
                        <div id="compmatrix-selectables">
                            <div id="compmatrix-from-selectables">
                                <h1>From SDK</h1>
                                <div>
                                    <div class="sdk-activator-control">
                                        <select id="from-sdk-selectables"></select>
                                        <button id="from-sdk-config-list-add-btn">
                                            <span class="fa-solid fa-plus"></span>
                                        </button>
                                    </div>
                                    <div class="active-sdk-list-control">
                                        <div class="active-sdk-list">
                                            <select id="from-sdk-selected" size="10"></select>
                                        </div>
                                        <div class="active-sdk-list-control-buttons">
                                            <button id="from-sdk-selected-move-up-btn">
                                                <span class="fa-solid fa-arrow-up-long"></span>
                                            </button>
                                            <button id="from-sdk-selected-move-down-btn">
                                                <span class="fa-solid fa-arrow-down-long"></span>
                                            </button>
                                            <button id="from-sdk-selected-remove-btn">
                                                <span class="fa-solid fa-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="compmatrix-to-selectables">
                                <h1>To SDK</h1>
                                <div>
                                    <div class="sdk-activator-control">
                                        <select id="to-sdk-selectables"></select>
                                        <button id="to-sdk-config-list-add-btn"><span class="fa-solid fa-plus"></span></button>
                                    </div>
                                    <div class="active-sdk-list-control">
                                        <div class="active-sdk-list">
                                            <select id="to-sdk-selected" size="10"></select>
                                        </div>
                                        <div class="active-sdk-list-control-buttons">
                                            <button id="to-sdk-selected-move-up-btn">
                                                <span class="fa-solid fa-arrow-up-long"></span>
                                            </button>
                                            <button id="to-sdk-selected-move-down-btn">
                                                <span class="fa-solid fa-arrow-down-long"></span>
                                            </button>
                                            <button id="to-sdk-selected-remove-btn">
                                                <span class="fa-solid fa-minus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="apps">
                <h1>Apps</h1>
                <div id="app-list-desc"></div>
                <div id="apps-list"></div>
            </div>
        </article>
    </main>
</body>
</html>