$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

$primary-colour: rgb(232, 48, 48);
$primary-colour-darker: hsl(355, 74%, 39%);
$secondary-colour: hsl(0, 0%, 15%);
$secondary-colour-lighter: lighten($secondary-colour, 15%);
$bg-colour: $black;
$primary-text-colour: $white;
$primary-text-colour-dark: $black;
$secondary-text-colour: hsl(0, 0%, 71%);
$secondary-text-colour-lighter: lighten($secondary-text-colour, 15%);
