@font-face {
    font-family: 'Fivo Sans';
    src: url('/assets/fonts/FivoSans-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Fivo Sans';
    src: url('/assets/fonts/FivoSans-Bold.otf');
    font-weight: bold;
}
