@import '_colours.scss';
@import '_controls.scss';
@import '_inputs.scss';
@import '_text.scss';

$matrix-cell-size: 75px;

body {
    background-color: $bg-colour;
    color: $primary-text-colour;

    font-family: 'Fivo Sans', Arial, Helvetica, sans-serif;

    margin: 0 auto;

    main#container {
        max-height: 100vh;

        h1 {
            text-align: center;
        }

        article#dashboard {
            max-width: 1200px;

            margin: 0 auto;

            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 2rem;

            div {
                &#matrix {
                    flex-grow: 2;
                    flex-shrink: 1;
                    flex-basis: 50%;

                    div#matrix-display {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        margin-bottom: 1rem;

                        div#compmatrix-container {
                            width: 50%;
                            height: 50%;
                            max-width: 50%;
                            max-height: 50%;

                            overflow: auto;

                            display: flex;
                            justify-content: safe center;
                            align-items: safe center;

                            table {
                                min-width: 100px;
                                min-height: 100px;

                                tr {
                                    text-align: center;

                                    &:nth-child(n + 3) {
                                        th {
                                            width: $matrix-cell-size;
                                            height: $matrix-cell-size;
                                        }
    
                                        td {
                                            width: $matrix-cell-size;
                                            height: $matrix-cell-size;
            
                                            -webkit-user-select: none;
                                            user-select: none;
                                            
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                    div#matrix-config {
                        margin-bottom: 1rem;

                        div {
                            &#compmatrix-toggles {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;

                                margin-bottom: 1rem;
                            }

                            &#compmatrix-selectables {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: stretch;
                                gap: 1.75rem;

                                div {
                                    flex-grow: 1;
                                    flex-shrink: 1;
                                    flex-basis: 50%;

                                    h1 {
                                        font-size: $base-text-size;
                                        font-weight: normal;

                                        color: $secondary-text-colour;
                                    }

                                    &#compmatrix-from-selectables {
                                    }
        
                                    &#compmatrix-to-selectables {
                                    }
                                }
                            }
                        }
                    }
                }

                &#apps {
                    flex-grow: 1;
                    flex-shrink: 1;
                    flex-basis: 50%;
                }
            }
        }
    }
}
