@import '_colours.scss';
@import '_controls.scss';
@import '_fonts.scss';

$matrix-cell-size: 75px;



body {
    background-color: $bg-colour;
    color: $main-text-colour;

    font-family: 'Fivo Sans', Arial, Helvetica, sans-serif;

    button {
        cursor: pointer;
    }

    main#container {
        h1 {
            text-align: center;
        }

        article#dashboard {
            max-width: 1200px;
            margin: 0 auto;

            div {
                &#matrix {
                    div#matrix-display {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;

                        margin-bottom: 1rem;

                        div#compmatrix-container {
                            max-width: 100%;

                            table {
                                tr {
                                    text-align: center;

                                    &:nth-child(n + 3) {
                                        th {
                                            width: $matrix-cell-size;
                                            height: $matrix-cell-size;
                                        }
    
                                        td {
                                            width: $matrix-cell-size;
                                            height: $matrix-cell-size;
            
                                            -webkit-user-select: none;
                                            user-select: none;
                                            
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
        
                    div#matrix-config {
                        margin-bottom: 1rem;

                        div {
                            &#compmatrix-toggles {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;

                                margin-bottom: 1rem;
                            }

                            &#compmatrix-selectables {
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                align-items: stretch;
                                gap: 1.5rem;

                                div {
                                    flex-grow: 1;

                                    &#compmatrix-from-selectables {
                                    }
        
                                    &#compmatrix-to-selectables {
                                    }
                                }
                            }
                        }
                    }
                }

                &#apps {
                }
            }
        }
    }
}
